<% if @entrant.errors.any? %>  
  <div class="row">
    <div class="span12">
      <div class="alert alert-error">
        <p>Your entry was not submitted successfully, please click the back button and fix the following errors:</p>
        <ul>  
          <% @entrant.errors.full_messages.each do |msg| %>  
            <li><%= msg %></li>  
          <% end %>  
        </ul>  
      </div>
    </div>
  </div>
<% end %>