<div class="row">
  <div class="span12">
    <h1 class="page-header">Contact</h1>
  </div>
</div>
<div class="row">
  <div class="span12">
    <p>Have a comment, question, or concern with the site?  Email <%= mail_to "nmunson@gmail.com", "Nicholas",:encode => 'hex' %> or <%= mail_to "jim.munson@dhltd.com", "Jim", :encode => 'hex' %>.</p>
  </div>
</div>
