<div class="row">
  <div class="span12">
    <h1 class="page-header">Submission Guide</h1>
  </div>
</div>
<div class="row">
  <div class="span12">
    <p>There are 16 teams in the playoffs and you must pick one player per team. The goalie counts as one team pick. You are allowed to pick an additional player from the "Mulligan" column but not from the team where you chose your goalie. Using the online template you must adhere to the following guidelines:</p>
    <ol>
      <li>For columns 1 through 5 and column 7, pick one player per team, i.e. one player per row.</li>
      <li>3 players per column (columns 1 thru 5), and one goaltending duo only in column 7</li>
      <li>The team you select for your goaltender duo is the only player choice for that team, no other pick on that row.</li>
      <li>Column 6 - Mulligan Man allows you to double up one player for one team but not for the team where you have selected a goaltender.
    </ol>
    <p>Players from column 1-6 represent the top 6 players per team (by point total for the regular season updated on April 28 2013).  If a player was known to be injured and out indefinitely they have been dropped from the pool and the next available player added.  The goaltender duo covers all goalies for the team regardless of who plays in net, i.e. even if it is a goalie not listed.  Additional notes:</p>
    <ul>
      <li>Goaltender points will be based on the team goaltending. It will not matter if a goalie not listed for the team collects the win / shutout / etc...  A shutout shared by two goalies and resulting in a win will still count for only 4 points (2 for the win + 2 for the shutout).</li>
      <li>Points listed beside each player represent the players regular season point totals.</li>
      <li>Players injury status must be determined by the persons entering into the pool, the pool coordinator takes no responsibility for the injury status of any player listed.  Players are included based on their point ranking for their team (top 6 player point totals during regular season play).</li>
    </ul>
    <%= link_to_function "Back", "history.back()", :class => 'btn' %>
  </div>
</div>
