<div class="hero-unit">
  <% if Time.parse(ENV['SUBMISSION_DEADLINE']) > Time.now %>
    <h1>The playoffs are back!</h1>
    <p>Welcome to the 2013 NHL Playoff Pool. All entries must be submitted online before 
    <%= Time.parse(ENV['SUBMISSION_DEADLINE']).in_time_zone('Eastern Time (US & Canada)').strftime("%B %-d, %Y at %l:%M %p")%> through this website.  Submitting entries past that time are blocked from processing, so please don't leave it until the last minute to submit.  When completing the form you must ensure that you have made arrangements for your entry fee to be paid.  If not, your name and entry will be removed from the pool.</p>
    <p><%= link_to "Submit Entry &raquo;".html_safe, new_entrant_path, :class => 'btn btn-primary btn-large' %></p>
  <% elsif Time.parse(ENV['SUBMISSION_DEADLINE']) + 2.days > Time.now %>
    <h1>Entry period has closed.</h1>
    <p>We will now be validating all entries.  Feel free to browse the site and see other people's picks.  Once NHL.com begins updating playoff statistics, you'll see the <%= link_to "rankings page", entrants_path %> updated.</p>
  <% else %>
    <h1>The playoffs have begun!</h1>
    <p>The pool is now officially live.  Check back daily for ranking changes and for new features across the site, as they will be added as the pool continues.</p>
    <p style="line-height:16px;"><span style="font-size:12px;font-style:italic">Update 5/13/2013: We have unfortunately had to remove one entry from the 
    pool as it was submitted incorrectly and was not caught by the initial pool 
    entry reviews. The only option that we had to not negatively impact any of the other 
    entries was to advise the entrant of this error and the decision has been 
    made to remove it. We will ensure that this glitch is addressed so that we do 
    not encounter any similar problems in the future. We do remind everyone that 
    participates that you should also review your entry once the entries are made 
    available for review and report any problems immediately.  Again, our sincere 
    apologies to the entrant impacted and any confusion that this may have caused.</span></p>
    <p><%= link_to "View Rankings &raquo;".html_safe, entrants_path, :class => 'btn btn-primary btn-large' %></p>
  <% end %>
</div>

<div class="row">
  <div class="span4">
    <h2>Prizes</h2>
     <p>Prizes have yet to be determined.</p>
  </div>
  <div class="span4">
    <h2>Updates</h2>
    <p>The site will pull updates from NHL.com daily at 5 AM for all players.  
    If you see any inconsistencies with points, please contact me.</p>
 </div>
  <div class="span4">
    <h2>Injuries</h2>
    <p>We have removed Dany Heatley and Sidney Crosby from the available pool of players due to injuries.  However, we suggest you double check the status of all your picks before submitting.</p>
  </div>
</div>
