<div class="hero-unit">
  <% if Time.parse(ENV['SUBMISSION_DEADLINE']) > Time.now %>
    <h1>The playoffs are back.</h1>
    <p>Welcome to the 2012 NHL Playoff Pool. All entries must be submitted online before 
    <%= Time.parse(ENV['SUBMISSION_DEADLINE']).in_time_zone('Eastern Time (US & Canada)').strftime("%B %-d, %Y at %l:%M %p")%> and through this website.  Submitting entries past that time will not work, so please don't leave it until the last minute to submit.  When completing the form you must ensure that you have made arrangements for your entry fee to be paid.  If not, your name and entry will be removed from the pool.</p>
    <p><%= link_to "Submit Entry &raquo;".html_safe, new_entrant_path, :class => 'btn btn-primary btn-large' %></p>
  <% else %>
    <h1>Entry period has closed.</h1>
    <p>We will now be validating all entries.  Feel free to browse the site and see other people's picks.  Once NHL.com begins updating playoff statistics, you'll see the <%= link_to "rankings page", entrants_path %> updated.</p>
  <% end %>
</div>

<div class="row">
  <div class="span4">
    <h2>Prizes</h2>
     <p>Prizes will be determined based on the amount of entrants.  Once all entries are finalized the prize amounts will be announced here on the site.</p>
  </div>
  <div class="span4">
    <h2>Updates</h2>
     <p>The site will pull updates from NHL.com daily at 5 AM for all players.  If you see any inconsistencies with points, please contact me.</p>
 </div>
  <div class="span4">
    <h2>Injuries</h2>
    <p>We have removed a handful of players from the pool that have known injuries, but suggest you double check the status of all your picks before submitting.  </p>
  </div>
</div>
