<div class="row">
  <div class="span12">
    <h1 class="page-header">Prizes</h1>
  </div>
</div>
<div class="row">
  <div class="span12">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse scelerisque iaculis velit, sit amet pellentesque augue porttitor in. Donec congue, turpis et fringilla iaculis, velit odio feugiat lorem, sed condimentum ipsum nulla nec nulla. Maecenas porta velit metus, ac congue eros. Cras tempus commodo dolor ut vulputate. Mauris accumsan hendrerit elit, rhoncus eleifend purus pulvinar vitae. Suspendisse in odio non ligula dictum varius. Ut ac metus augue, a aliquet urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    <ol>
      <li>$500</li>
      <li>$200</li>
      <li>$000</li>
      <li>$000</li>
      <li>$000</li>
    </ol>
  </div>
</div>
