<div class="row">
  <div class="span12">
    <h1 class="page-header">Prizes</h1>
  </div>
</div>
<div class="row">
  <div class="span12">
    <p>Prize distribution has yet to be determined.  The total prize pot will be distributed among the top five entrants.  Check back shortly for prize amounts.
  </div>
</div>
