<div class="row">
  <div class="span12">
    <h1 class="page-header">Prizes</h1>
  </div>
</div>
<div class="row">
  <div class="span12">
    <p>Prize distribution is as follows:</p>
    <ol>
      <li>$710</li>
      <li>$360</li>
      <li>$200</li>
      <li>$100</li>
      <li>$50</li>
    </ol>
  </div>
</div>
