<div class="row">
  <div class="span12">
    <h1 class="page-header">Prizes</h1>
  </div>
</div>
<div class="row">
  <div class="span12">
    <ol>
      <li>790</li>
      <li>380</li>
      <li>190</li>
      <li>100</li>
      <li>75</li>
      <li>25</li>
      <li>20</li>
    </ol>
  </div>
</div>
