# This file contains the ENV vars necessary to run the app locally.  
# Copy and rename without the trailing ".example" to use properly.

ENV['SEASON'] = '20112012'
ENV['PLAYOFF_TEAMS'] = 'rangers,bruins,panthers,penguins,flyers,devils,senators,sabres,blues,canucks,stars,redwings,predators,blackhawks,coyotes,kings'
ENV['NHL_API'] = 'http://localhost:8081'