<div class="row">
  <div class="span12">
    <h1 class="page-header">Rankings</h1>
  </div>
</div>
<div class="row">
  <div class="span8">
    <table class="table table-striped">
      <thead>
        <th>Rank</th>
        <th>Name</th>
        <th>Points</th>
      </thead>
      <% @entrants.each_with_index do |entrant, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to entrant.name, entrant %></td>
          <td><%= entrant.points %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="span4">
    <h3>Updates</h3>
    <p>Statistics are updated daily at 5 AM from NHL.com.</p>
  </div>
</div>
