#entry-check {
  margin-bottom:35px;
  padding-top:10px;
  font-size: 16px;
  padding-left:8px;
}

.error {
  color:white;
  background-color:red;
}

.success {
  color:white;
  background-color:green;
}

[class^="icon-"],
[class*=" icon-"] {
  background-image: url("../assets/glyphicons-halflings.png");
}

i {
  padding-right:5px;
  margin-top:1px;
}

.sidebar {
  margin-bottom:20px;
}

.sidebar-icon {
  margin-top:4px;
}